.App {
  height: 100vh;
  background: #DCDFE0;
}

.App-header {
  height: 119px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-right: 108px;
}

p {
  margin: 0;
}

.Container {
  height: 100%;
}
